[component="ve-hierarchy"] {
    [data-is-selected="true"] > .nst-content {
        border: 3px dashed var(--geometry-selection-colour);
    }
    [data-selected-geometry="true"] > .nst-content {
        border: 3px solid var(--geometry-selection-colour);
    }
    [data-is-visible="false"]:not([data-selected-geometry="true"]) > .nst-content {
        opacity: 0.4;
    }
    [data-is-visible="false"][data-selected-geometry="true"] > .nst-content {
        opacity: 0.7;
    }
    
    .naissance-selected-feature {
        > .nst-content {
            border: 3px solid var(--accent-secondary-colour);
        }

        [component="ve-hierarchy-datatype"] > .nst-content {
            box-shadow: 0 0 0 1px solid var(--bg-primary-colour);
            outline: dashed 3px var(--accent-secondary-colour);
        }
    }
}